db:
  build: db
  volumes:
    - /var/lib/mysql:/var/lib/mysql
    - /etc/localtime:/etc/localtime:ro
  environment:
    - MYSQL_ROOT_PASSWORD=123456
    - MYSQL_DATABASE=FreeSpoon
  ports:
    - "3306:3306"
freespoon:
  build: .
  volumes:
    - /etc/localtime:/etc/localtime:ro
    - /freespoon_data:/FreeSpoon/data
    - /freespoon_media:/FreeSpoon/media
  links:
    - db:db
  environment:
    - DOMAINNAME=localhost
    - DBHOST=db
    - DBPASSWD=123456
  ports:
    - "80:80"
    - "23:22"
