*{
  margin:0;
  padding:0;
}
.commodity-list{
  list-style: none;
  display: block;
}
.commodity-list li{
  display: block;
  border-bottom: solid 1px #CCC;
  margin:10px;
}
.commodity-list li:last{
  border-bottom: none;
}
.commodity-list li div.slide{
  background: white;
  border: solid 1px #DDD;
  padding: 10px;
}
.commodity-list li div.slide img{
  max-width: 100%;
  max-height: 100%;
}
.commodity-list li div.detail{
  padding:5px;
  height: 60px;
  position: relative;
}
.commodity-list li div.detail p{
  font-size: 10pt;
  line-height: 30px;
  vertical-align: middle;
}
.commodity-list li div.detail a{
  position: absolute;
  right:0;
  bottom:0;
}
