* {
  margin: 0;
  padding: 0;
  font-family: "微软雅黑";
  font-size: 16px;
}
div.navbar {
  height: 36px;
  line-height: 36px;
  vertical-align: middle;
  opacity: 0.9;
  width: 100%;
  background: #E9E9E9;
  text-align: center;
  font-size: 1em;
  border-bottom: solid 1px #DDD;
}
ul.commodity-list {
  margin-bottom: 36px;
}
ul.commodity-list li {
  border-top: solid 1px #DDD;
  border-bottom: solid 1px #DDD;
  display: block;
  margin-top: 20px;
  padding: 8px;
  background: #FFF;
}
ul.commodity-list li .title {
  width: 100%;
  height: 20px;
  line-height: 20px;
  padding-bottom: 8px;
  vertical-align: middle;
  font-size: 0.8em;
  font-weight: bold;
}
ul.commodity-list li .content {
  width: 100%;
  padding: 0 8px 12px 5px;
  height: 100px;
}
ul.commodity-list li .content .slide {
  height: 100px;
  width: 125px;
  float: left;
}
ul.commodity-list li .content .slide img {
  max-width: 100%;
  max-height: 100%;
}
ul.commodity-list li .content .detail {
  height: 100px;
  width: auto;
  padding-left: 135px;
}
ul.commodity-list li .content .detail .commodity-name,
ul.commodity-list li .content .detail .commodity-spec,
ul.commodity-list li .content .detail .commodity-num,
ul.commodity-list li .content .detail .commodity-price {
  height: 20px;
  line-height: 20px;
  vertical-align: middle;
  display: block;
}
ul.commodity-list li .content .detail .commodity-name {
  font-weight: bold;
  margin-bottom: 5px;
}
ul.commodity-list li .content .detail .commodity-spec,
ul.commodity-list li .content .detail .commodity-num {
  color: #BBB;
  font-weight: lighter;
  font-size: 0.6em;
  margin-bottom: 0;
}
ul.commodity-list li .content .detail .commodity-price {
  font-weight: bold;
  margin-top: 10px;
  color: #FA4638;
}
ul.commodity-list li .content .detail .commodity-price span {
  font-weight: lighter;
  font-size: 0.5em;
}
ul.commodity-list li .actions {
  width: 100%;
  border-top: solid 1px #DDD;
  height: 40px;
  line-height: 40px;
}
ul.commodity-list li .actions a {
  background: #A5DE37;
  border: #A5DE37;
  color: #FFF;
  font-weight: lighter;
  float: right;
  display: inline-block;
  margin: 10px 0 0 10px;
}
.footer {
  position: fixed;
  bottom: 0px;
  height: 36px;
  line-height: 36px;
  vertical-align: middle;
  opacity: .9;
  width: 100%;
  z-index: 1100;
  background: #E9E9E9;
}
.footer .ui-block-a,
.footer .ui-block-b {
  width: 50%;
  height: 36px;
}
.footer .ui-block-a a,
.footer .ui-block-b a {
  display: block;
  width: auto;
  height: auto;
  border: solid 1px #DDD;
  text-align: center;
  text-decoration: none;
  font-size: 0.8em;
  color: #000;
}
.footer .ui-block-a a:hover,
.footer .ui-block-b a:hover {
  background: #FA4638;
  color: #FFF;
}
.overlay {
  display: none;
  opacity: .5;
  background: #BBB;
  top: 0;
  left: 0;
  right: 0;
  bottom: 1px;
  position: absolute;
  z-index: 1099;
  animation-timing-function: ease-out;
  animation-duration: 350ms;
}
div.popup-window-from-bottom {
  opacity: 1;
  z-index: 1100;
  display: none;
  position: fixed;
  bottom: 36px;
  height: auto;
  width: 100%;
  background: #FFF;
}
div.popup-window-from-bottom .header {
  height: 18px;
  line-height: 18px;
  vertical-align: middle;
  padding: 12px;
  background: #EEE;
}
div.popup-window-from-bottom .header span {
  display: inline-block;
  padding-left: 6px;
  height: 18px;
  line-height: 18px;
  vertical-align: middle;
  font-size: 0.8em;
  border-left: solid 4px #38C;
}
div.popup-window-from-bottom ul.list {
  display: block;
}
div.popup-window-from-bottom ul.list li {
  display: block;
  width: 100%;
  height: 30px;
  line-height: 30px;
  padding: 15px;
  border-bottom: solid 1px #EEE;
}
div.popup-window-from-bottom ul.list li .ui-block-a {
  width: 50%;
}
div.popup-window-from-bottom ul.list li .ui-block-b {
  width: 20%;
}
div.popup-window-from-bottom ul.list li .ui-block-c {
  width: 20%;
}
div.popup-window-from-bottom ul.list li .name {
  font-size: 0.8em;
}
div.popup-window-from-bottom ul.list li .price {
  font-size: 0.8em;
  font-weight: bold;
  color: #FA4638;
}
div.popup-window-from-bottom ul.list li .price span {
  font-weight: lighter;
  font-size: 0.5em;
}
div.popup-window-from-bottom ul.list li .num {
  font-size: 0.8em;
  text-align: center;
}
