
<!doctype html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" type="text/css" href="../assets/css/checkout.css">
    <title></title>
</head>
<body>
    <div id="checkout" >
    <div class="header">
        <a href="#index">
        <span class="ico back" ></span>
        <div class="text">订单确认</div>
        </a>
    </div>
    <div class="content">
        <div class="user">
           <!-- <div class="sculpture"><img src="assets/images/headerPri.jpg"  alt=""></div>
           <span>巴卫</span>
           <div id="input"  class="tel_border"><input  type="tel" class="__checkout_tel" placeholder="填输入联系方式" /></div> -->
           <span>姓名</span>
           <div id="input"  class="new_input_style" ><input  type="text"  placeholder="填写姓名" ng-model="nickName"/></div> 
           <span >电话</span>
           <div id="input"  class="new_input_style"><input  type="tel"  placeholder="填输入联系方式" ng-model="tel"/></div>
       </div> 
        <div class="title">
            <span class="img adds"></span>
            <span class="text">取货地</span>
        </div>
        <div class="address_list">
            <ul>
                
                <li ng-repeat="p in address">
                    <span class="true_image"></span>
                    <div class="checkbox" ng-class="{true:'checked',false:'null'}[ischecked]" ng-click="submit(address)">
                        <p>{{p.address}}</p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="title">
            <span class="img shop"></span>
            <span class="text">商品明细</span>
        </div>
        <div>
            <ul class="__checkout_detail list">
                <li class=" row" ng-repeat="x in commodities" ng-if="!!x.num">
                    <span class="__field_checkout_title left">{{x.title}}</span>
                    <span class="__field_checkout_quantity right">{{x.num}}</span>
                    <span class="__field_checkout_price center">{{x.price | convert}}</span>
                </li>
            </ul>
        </div>
        <div  class="single_list_border">
            <p>配送费<span>0</span></p>
        </div>
        <div class="single_list">
            <span>总计</span>
            <div>
                <span class="__checkout_total text">{{total | convert}}</span>
            </div>
        </div>
    </div>
    <div id="checkout_footer" class="button">
        <div class="select">
        <a class="text" href="javascript:void(0);" ng-click="pay(commodities);">立即支付</a>
        </div>
    </div>
</div>
</body>
</html>
