{% load staticfiles %}
<!doctype html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>{{ batch.title }}</title>
    <!--<link rel="stylesheet" href="assets/styles/pure-min.css" />-->
    <link rel="stylesheet" href="{% static 'wechat/assets/styles/jquery.mobile.structure-1.4.5.css' %}" />
    <link rel="stylesheet" href="{% static 'wechat/assets/styles/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'wechat/assets/styles/buttons.css' %}" />
    <link rel="stylesheet" href="{% static 'wechat/assets/styles/index.css' %}" />
    <script type="text/javascript" src="{% static 'wechat/assets/scripts/jquery-1.12.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'wechat/assets/scripts/jquery.mobile-1.4.5.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'wechat/assets/scripts/index.js' %}"></script>
    <script type="text/javascript">
      $(function(){
        var commodities = (new Function('', 'return ' + '{{ commoditiesJson }}'))();
        var cart = $('._cart');
        var template = $('._cart_template');
        console.log(commodities);
        window.addCommodity = function(id){
          var commodity = commodities[id];
          if(!!commodity){
            if(!commodity.domObject){
              var item = template.clone();
              commodity.domObject = item;
              commodity.quantity = 1;
              item.find('._field_title').text(commodity.title);
              item.find('._field_unit_price').text(commodity.unit_price);
              item.find('._field_quantity').text(1);
              (function(id){
                item.find('._button_remove').click(function(){
                  window.removeCommodity(id);
                });
                item.find('._button_add').click(function(){
                  window.addCommodity(id);
                });
              })(id);
              cart.append(item);
              item.removeClass('_cart_template');
            } else {
              commodity.quantity += 1;
              commodity.domObject.find('._field_quantity')
                .text(commodity.quantity);
            }
          }
        }
        window.removeCommodity = function(id){
          var commodity = commodities[id];
          if(!!commodity){
            if(!!commodity.domObject){
              if(commodity.quantity > 1){
                commodity.quantity -= 1;
                commodity.domObject.find('._field_quantity')
                  .text(commodity.quantity);
              } else {
                commodity.quantity -= 1;
                commodity.domObject.remove();
                commodity.domObject = null;
              }
            }
          }
        }
      });
    </script>
</head>
<body>
  <div class="navbar">
    <p class="title">{{ batch.title }}</p>
  </div>
  <ul class="commodity-list">
    {% for commodity_in_batch in batch.commodityinbatch_set.all %}
    <li>
      <div class="title">{{ commodity_in_batch.commodity.title }}</div>
      <div class="content">
        <div class="slide">
          {% for commodityimage in commodity_in_batch.commodity.commodityimage_set.all %}
	    <img src="{{ commodityimage.image.url }}" />
	  {% endfor %}
        </div>
        <div class="detail">
          <p class="commodity-name">{{ commodity_in_batch.commodity.title }}</p>
          <p class="commodity-spec">类型：{{ commodity_in_batch.commodity.spec }}</p>
          <p class="commodity-num">库存：{{ commodity_in_batch.commodity.stock }}</p>
          <div class="commodity-price-wrapper">
            <p class="commodity-price">
              <span>￥</span>{{ commodity_in_batch.unit_price }}
              <div class="regulator">
                <a class="block right" onclick="addCommodity({{ commodity_in_batch.id }})" href="javascript:void(0);">+</a>
                <a class="block left" onclick="removeCommodity({{ commodity_in_batch.id }})" href="javascript:void(0);">-</a>
              </div>
            </p>
          </div>
        </div>
      </div>
      <div class="actions">
      </div>
    </li>
    {% endfor %}
  </ul>
  <script type="text/javascript">
    $(function(){
      (function(status){
        // TODO clean all touch events
        $('.overlay').on('tap', function(){
          status = false;
          window.popup_window_from_bottom();
        });
        window.popup_window_from_bottom = function(){
            if(status){
              status = false;
              $('.overlay').css('display', 'block');
              $('.popup-window-from-bottom').slideToggle('slow');
            } else {
              status = true;
              $('.overlay').css('display', 'none');
              $('.popup-window-from-bottom').css('display', 'none');
            }
        }
      })(true);
    });
  </script>
  <div class="footer">
    <div class="ui-block-a"><a href="javascript:void(0);" onclick="popup_window_from_bottom();">购物车</a></div>
    <div class="ui-block-b"><a href="javascript:void(0);">支付</a></div>
  </div>
  <div class="overlay"></div>
  <div class="popup-window-from-bottom">
    <div class="header">
      <span>购物车</span>
    </div>
    <ul class="list _cart">
      <li class="_cart_template">
        <div class="item ui-grid-a">
          <div class="ui-block-a name _field_title"></div>
          <div class="ui-block-b price"><span class="sign">￥</span><span class="text _field_unit_price"><span></div>
          <div class="ui-block-c num">
            <div class="regulator">
              <a class="block left _button_remove" href="javascript:void(0);">-</a>
              <span class="block center _field_quantity"></span>
              <a class="block right _button_add" href="javascript:void(0);">+</a>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</body>
</html>
