{% load staticfiles %}
<!doctype html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>订单确认表 - {{ batch.title }}</title>
    <link rel="stylesheet" href="{% static 'wechat/assets/styles/report.css' %}" />
</head>
<body>
  <div class="title">
    {{ batch.title }} - {{ distributer.name }}
    <img src="qr/confirm/{{ batch.id }}" />
  </div>
  <table>
    <tr>
      <th>昵称</th>
      <th>电话号码</th>
      <th>订单详情</th>
      <th>备注</th>
      <th></th>
      <th></th>
    </tr>
    <tr>
      <td>a</td>
      <td>186****3725</td>
      <td>3个泰国椰青，10个菲律宾凤梨，2盒红颜草莓</td>
      <td>无</td>
      <td></td>
      <td></td>
    </tr>
  </table>
</body>
</html>
