{% load staticfiles %}
{% load custom_tags %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <link rel="stylesheet" href="{% static 'wechat/assets/styles/index.css' %}">
    <title></title>
    <script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script type="text/javascript" src="{% static 'wechat/assets/scripts/jquery-1.12.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'wechat/assets/scripts/index.js' %}"></script>
    <script>
        var winW = document.documentElement.clientWidth;
        document.documentElement.style.fontSize = winW / 6.4 + "px";

	var PayManager = window.PayManager = {
		payRequest: null,
		payCallback: null,
		refreshForm: null,
		init: function(payRequest, payCallback){
			this.payRequest = payRequest;
			this.payCallback = payCallback;
			this.refreshForm = $('.__form_refresh');
		},
		refresh: function(){
			this.refreshForm.submit();
		},
		pay: function(){
		  var that = this;
                  if(!!window.WeChatIsReady && window.WeChatIsReady){
                    WeixinJSBridge.invoke(
                      'getBrandWCPayRequest', that.payRequest,
                      function(res){
                        if(res.err_msg == "get_brand_wcpay_request:ok" ) {
                          that.payCallback();
                        }
                      }
                    );
                  }
		}
	}

        //run
	$(function(){

           PageManager.init();//调用init方法，开始渲染页面
           var payRequest = (new Function('', 'return ' + '{{ payRequest }}'))();
	   PayManager.init(payRequest, function(){
           	PageManager.jump('success', function(page){
           	    wx.onMenuShareAppMessage({
           	        title: '{{ order.batch.share_title }}(我是第{{ orderAmounts }}位接龙者)', // 分享标题
           	        desc: '{{ order.batch.share_desc }}', // 分享描述
           	        link: '{{ shareUrl }}', // 分享链接
           	        imgUrl: 'http://{{ request.get_host }}{{ order.batch.share_img.url }}', // 分享图标
           	        //type: '', // 分享类型,music、video或link，不填默认为link
           	        //dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
           	        success: function () {
           	            //wx.closeWindow();
           	        },
           	        cancel: function () {
           	            // 用户取消分享后执行的回调函数
           	        }
           	    });
           	    return true;
           	});
	   });
	});

        //configure the fuck WeChat
        (function(){
            var wx_config_data = (new Function('', 'return ' + '{{ wxConfigJson }}'))();
            wx.config(wx_config_data);
            wx.ready(function(){
                function onBridgeReady(){
                    window.WeChatIsReady = true;
                    wx.onMenuShareAppMessage({
                        title: '{{ order.batch.share_title }}', // 分享标题
                        desc: '{{ order.batch.share_desc }}', // 分享描述
                        link: '{{ shareUrl }}', // 分享链接
                        imgUrl: 'http://{{ request.get_host }}{{ batch.share_img.url }}', // 分享图标
                        //type: '', // 分享类型,music、video或link，不填默认为link
                        //dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
                        success: function () {
                            //wx.closeWindow();
                        },
                        cancel: function () {
                            // 用户取消分享后执行的回调函数
                        }
                    });
           	    var pay = (new Function('', 'return ' + '{{ pay }}'))();
	   	    if(pay){
	   	         PayManager.pay();
	   	    }
                }
                if (typeof WeixinJSBridge == "undefined"){
                    if( document.addEventListener ){
                        document.addEventListener('WeixinJSBridgeReady', onBridgeReady, false);
                    }else if (document.attachEvent){
                        document.attachEvent('WeixinJSBridgeReady', onBridgeReady);
                        document.attachEvent('onWeixinJSBridgeReady', onBridgeReady);
                    }
                }else{
                    onBridgeReady();
                }
            });
        })();
    </script>
</head>
<body>
<div id="Order_details" class="__page__" name="details">
    <div class="header" method="change" target="3">
		<span class='close' onclick="wx.closeWindow()"></span>
        <div class="header-content">订单详情</div>
    </div>
    <div class="main">
        <div class="follow">
            <div class="follow_tip">
                <span class="follow_left">订单已提交</span>
                <span class="follow_right">订单完成</span>
                <span class="follow_center">组团成功</span>
            </div>
			 <div class="line">
                    <div class="tip_1"></div>
		{% if order.status > 0 %}
                    <div class="tip_s2"></div>
		{% else %}	
                    <div class="tip_2"></div>
		{% endif %}
		{% if order.status > 1 %}
					 <div class="tip_s3"></div>
		{% else %}	
					 <div class="tip_3"></div>
		{% endif %}
            </div>
            <div class="follow_text">
                <p>订单号:<span class="text_margin">{{ order.id }}</span></p>
                <p>下单时间:<span class="text_margin">{{ order.create_time | date:"Y-m-d h:i" }}</span></p>
                <p>支付方式:<span class="text_margin">微信支付</span></p>
            </div>
        </div>
        <div class="delivery_title">
            <span class="delivery_title_img"></span>
            <span class="delivery_title_text">取货信息</span>
        </div>
        <div class="delivery_list">
            <p>派发员:<span>{{ order.distributer.name }}</span></p>
            <p>取货地址:<span>{{ order.distributer.location }}</span></p>
        </div>
        <div class="inventory_title">
            <span class="inventory_title_img"></span>
            <span class="inventory_title_text">商品明细</span>
        </div>
        <div>
            <ul class="inventory_list">
		{% for commodityInOrder in order.commodityinorder_set.all %}
                <li class="inventory_list_item">
                    <span class="inventory_list_title">{{ commodityInOrder.commodity.commodity.title  }}</span>
                    <span class="inventory_list_quantity">{{ commodityInOrder.quantity }}</span>
                    <span class="inventory_list_price">￥{{ commodityInOrder.commodity.unit_price | convert_money }}</span>
                </li>
		{% endfor %}
            </ul>
        </div>
        <div class="moe">
            <p>配送费<span>￥0</span></p>
        </div>
        <div class="total">
            <span>总计</span>
            <div>
                <span>￥{{ order.total_fee | integral_get }}</span>
                <span>.</span>
                <span>{{ order.total_fee | decimal_get }}</span>
            </div>
        </div>
    </div>
    <div class="footer">
        <div>
	    {% if order.status > 0 %}
            <a href="javascript:void(0);" onclick="wx.closeWindow()">关闭</a>
	    {% else %}
            <a href="javascript:void(0);" onclick="window.PayManager.pay()">支付</a>
	    {% endif %}
        </div>
    </div>
</div>
<div id="Payment_success" class="__page__" name="success" jid="3" style="display:none;">
    <div class="share">
        <p>恭喜您成为第{{ orderAmounts }}位接龙者，快去邀请小伙伴继续接龙！<span>请点击右上角<span class="more"></span>分享</span></p>
        <div class="arrow"></div>
    </div>
    <div class="main">
        <div class="success_box">
            <div></div>
            <p>支付成功</p>
        </div>
    </div>
    <div class="footer">
        <a href="javascript:void(0);" onclick="window.PayManager.refresh()">前往订单详情</a>
    </div>
    <form class="__form_refresh" method="post" action="order">{% csrf_token %}
	<input type="hidden" name="orderId" value="{{ order.id }}" />
    </form>
</div>
</body>
</html>
