body,
html {
  font-size: 0.25rem;
  background: #f0f2f5;
  color: #464646;
  height: 100%;
  font-family: '微软雅黑', Helvetica, Tahoma, Arial, '华文细黑', sans-serif;
}
#one {
  height: 100%;
}
#two {
  height: 100%;
  display: none;
}
.pun-header {
  z-index: 100;
  position: fixed;
  width: 100%;
  top: 0;
  height: 0.7rem;
  background: #fbfcff;
  border-bottom: solid 1px #c8c8c8;
}
.pun-header .icon {
  width: 0.7rem;
  display: block;
  padding: 0.2rem;
}
.pun-header .header-content {
  width: 100%;
  position: absolute;
  top: 0;
  text-align: center;
  font-size: 0.3rem;
  line-height: 0.7rem;
  font-weight: bold;
  -webkit-user-select: none;
}
.adds {
  margin: 0.2rem 0;
  padding: 2px 18px;
  background: white;
  position: relative;
  top: 0.7rem;
}
.adds .adds-table {
  width: 100%;
}
.adds .adds-table tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}
.adds .adds-table tr th {
  padding: 0.2rem 0;
  font-weight: 400;
  text-align: left;
  vertical-align: baseline;
}
.adds .adds-table tr td {
  padding: 0.2rem 0;
}
.cart-group {
  background: white;
  padding: 5px 0 0 0;
  border-top: solid 1px #c8c8c8;
  border-bottom: solid 1px #c8c8c8;
  margin-bottom: 0.7rem;
  font-size: 0.3rem;
  position: relative;
  top: 0.7rem;
}
.cart-group .group-comment {
  position: relative;
  padding-left: 0.3rem;
}
.cart-group .group-comment .comment-wrapper {
  position: absolute;
  left: 1.5rem;
  top: 0;
  bottom: 0;
}
.cart-group .group-comment .comment-wrapper input {
  width: 4.5rem;
  height: 0.7rem;
  border: solid 1px #cecece;
  text-indent: 0.1rem;
  border-radius: 5px;
  margin-left: 0.2rem;
  -webkit-appearance: none;
}
.cart-group .block {
  line-height: 1rem;
}
.cart-group .spline {
  border-bottom: solid 1px #c8c8c8;
}
.cart-group .group-list {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
}
.cart-group .group-list tr td {
  text-align: center;
}
.cart-group .group-list tr td:nth-child(1) {
  padding-left: 14px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 3rem;
}
.footer {
  position: fixed;
  bottom: 0px;
  height: 0.7rem;
  line-height: 0.7rem;
  vertical-align: middle;
  opacity: .9;
  width: 100%;
  z-index: 1100;
  background: #E9E9E9;
}
.footer span {
  display: inline-block;
  padding-left: 1.5rem;
  font-size: 0.25rem;
}
.footer a {
  font-size: 0.25rem;
  color: white;
  display: block;
  float: right;
  width: 35%;
  text-align: center;
  background: #FA4638;
}
.wrtAds {
  position: relative;
  top: 0.7rem;
  width: 100%;
}
.wrtAds form ul {
  background: white;
  margin: 0.2rem 0;
}
.wrtAds form ul .list_li {
  border-bottom: 1px dashed #c8c8c8;
}
.wrtAds form ul .list_name {
  display: inline-block;
  width: 2rem;
  padding: 0.2rem 0.2rem;
}
.wrtAds form ul .list_name .infor {
  width: 50%;
  height: 0.7rem;
  float: left;
}
.wrtAds form .sure {
  width: 100%;
  height: 0.7rem;
  background: white;
  text-align: center;
}
