html,
body {
  font-size: 0.25rem;
  background: #f0f2f5;
  color: #464646;
  height: 100%;
  font-family: '微软雅黑', Helvetica, Tahoma, Arial, '华文细黑', sans-serif;
}
.popup {
  display: none;
  position: fixed;
  height: 100%;
  width: 100%;
  background: #000;
  opacity: .26;
  z-index: 1000;
  top: 0;
  bottom: 1.7rem;
}
.popup_box {
  display: none;
  background: white;
  position: fixed;
  bottom: 0;
  z-index: 1000;
  width: 100%;
  margin-bottom: 1.1rem;
}
.popup_box > div {
  margin: 0.2rem 0.15rem 0.7rem 0.15rem;
}
.popup_box > div > div {
  overflow: hidden;
  height: 0.6rem;
  background: #e3e3e3;
  position: relative;
}
.popup_box > div > div .oder {
  margin-top: 0.15rem;
  margin-left: 0.15rem;
}
.popup_box > div > div .oder span:nth-child(1) {
  background: url("../demo/book.png");
  height: 0.25rem;
  width: 0.21rem;
  background-size: 0.2rem;
  display: block;
  float: left;
  margin-top: 0.06rem;
}
.popup_box > div > div .oder span:nth-child(2) {
  font-weight: 600;
  margin-left: 0.1rem;
}
.popup_box > div > div .del {
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
  margin-right: 0.15rem;
  margin-top: 0.15rem;
}
.popup_box > div > div .del span:nth-child(1) {
  float: right;
  font-size: 0.1rem;
  margin-left: 0.05rem;
}
.popup_box > div > div .del span:nth-child(2) {
  float: right;
  background: url("../demo/del.png");
  height: 0.23rem;
  width: 0.2rem;
  background-size: 0.2rem;
  display: inline-block;
}
.popup_box > div ul li {
  position: relative;
  border-bottom: 1px solid #CCCCCC;
  margin: 0.1rem 0;
  padding: 0.1rem 0;
}
.popup_box > div ul li > div:nth-child(1) {
  overflow: hidden;
  margin-right: 2rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-right: 1rem;
  padding-left: 0.15rem;
}
.popup_box > div ul li > div:nth-child(2) {
  position: absolute;
  top: 0.1rem;
  right: 0;
  float: right;
  width: 3rem;
  margin-right: 0.15rem;
}
.popup_box > div ul li > div:nth-child(2) div:nth-child(1) {
  padding-right: 1.4rem;
  text-align: right;
  color: #ff9934;
}
.popup_box > div ul li .box {
  width: 1.2rem;
  margin: auto 0;
}
.popup_box > div ul li .box_left,
.popup_box > div ul li .box_right {
  width: 0.3rem;
  height: 0.3rem;
  line-height: 0.25rem;
  font-size: 0.3rem;
  border-radius: 50%;
}
.popup_box > div ul li .box_center {
  border: 0;
  width: 0.5rem;
  height: 0.3rem;
  line-height: 0.3rem;
  font-size: 0.2rem;
}
.select {
  display: block;
}
/*onegpage*/
#index .header {
  position: fixed;
  top: 0;
  background: #599c3d;
  width: 100%;
  height: 1.4rem;
  z-index: 100;
}
#index .header .left {
  width: 100%;
  margin-right: 2.5rem;
  float: left;
}
#index .header .left .sculpture {
  overflow: hidden;
  width: 1rem;
  height: 1rem;
  margin: 0.2rem;
  float: left;
  border-radius: 50%;
}
#index .header .left .sculpture img {
  max-width: 100%;
  height: 100%;
}
#index .header .left .chief {
  height: 1.4rem;
  margin-top: 0.2rem;
}
#index .header .left .chief p {
  color: #fffcfc;
  font-size: 0.3rem;
}
#index .header .left .chief p span {
  font-size: 0.4rem;
  margin: 0 0.1rem;
}
#index .header .left .chief .chief_in {
  padding: 0.1rem 0.1rem;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 45%;
  color: #dedddd;
}
#index .header .right {
  position: absolute;
  right: 0;
  top: 0;
  width: 2.5rem;
  padding: 0.3rem 0.1rem;
}
#index .header .right .audio {
  width: 0.5rem;
  height: 0.5rem;
  background: url("../demo/auid.png") no-repeat center;
  background-size: 0.3rem;
  -webkit-background-size: 0.3rem;
  float: left;
}
#index .header .right div {
  color: white;
  text-align: center;
}
#index .header .right div span {
  color: #fff100;
  font-size: 0.3rem;
  margin: 0 0.05rem;
}
#index .main {
  position: relative;
  top: 1.4rem;
  margin-bottom: 1.2rem;
  padding: 0.4rem 0.2rem;
}
#index .main ul li {
  margin-bottom: 0.2rem;
  border: 1px solid #000000;
}
#index .main ul li div {
  background: white;
  /*        width: 8rem;
                  height: 4rem;   到底加不加宽高*/
}
#index .main ul li div img {
  max-height: 100%;
  max-width: 100%;
}
#index .main ul li .content {
  padding: 0.3rem 0;
}
#index .main ul li .first,
#index .main ul li .between {
  margin: 0 0.2rem;
}
#index .main ul li .first div,
#index .main ul li .between div {
  position: relative;
  margin-bottom: 0.2rem;
  overflow: hidden;
}
#index .main ul li .first div h1,
#index .main ul li .between div h1 {
  font-size: 0.3rem;
  font-weight: bold;
  float: left;
}
#index .main ul li .first div span,
#index .main ul li .between div span {
  display: inline-block;
  color: #ff9934;
  font-size: 0.2rem;
  position: absolute;
  bottom: 0;
  right: 0;
}
#index .main ul li .first p,
#index .main ul li .between p {
  line-height: 170%;
}
#index .main ul li .between {
  height: 1rem;
  line-height: 1rem;
  overflow: hidden;
}
#index .main ul li .between span {
  float: right;
  margin-left: 0.4rem;
  color: #a9a6a6;
}
#index .main ul li .last {
  position: relative;
}
#index .main ul li .last .regulator_left {
  width: 100%;
  margin-right: 2rem;
}
#index .main ul li .last .regulator_left div {
  overflow: hidden;
}
#index .main ul li .last .regulator_left div div span:nth-child(1) {
  background: #313131;
  width: 0.8rem;
  height: 0.8rem;
  float: left;
}
#index .main ul li .last .regulator_left div div span:nth-child(1) img {
  margin-top: 0.05rem;
}
#index .main ul li .last .regulator_left div div span:nth-child(2),
#index .main ul li .last .regulator_left div div span:nth-child(3),
#index .main ul li .last .regulator_left div div span:nth-child(4),
#index .main ul li .last .regulator_left div div span:nth-child(5) {
  height: 0.8rem;
  line-height: 0.8rem;
  text-align: center;
  color: white;
  font-size: 0.3rem;
}
#index .main ul li .last .regulator_left div div span:nth-child(2) {
  margin-left: 0.1rem;
}
#index .main ul li .last .regulator_left div div span:nth-child(5) {
  font-size: 0.25rem;
}
#index .main ul li .last .regulator_left div div:nth-child(1) {
  width: 3.6rem;
  background: #599c3d;
  float: left;
  border-radius: 0 3.5rem 3.5rem 0;
  z-index: 101;
}
#index .regulator_right {
  position: absolute;
  top: 0;
  right: 0;
  width: 2rem;
  margin: 0.2rem 0;
}
#index .regulator_right span,
#index .regulator_right a {
  font-size: 0.3rem;
  float: left;
  border: 1px solid #ff9934;
  width: 0.5rem;
  height: 0.5rem;
  text-align: center;
  line-height: 0.5rem;
}
#index .regulator_right span {
  width: 0.8rem;
}
#index .regulator_right a:active {
  background: #ff9934;
  color: white;
}
#index .footer {
  z-index: 1500;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 1.1rem;
  background: white;
  border-top: 1px solid #CCCCCC;
}
#index .footer .f_left {
  width: 100%;
  margin-right: 2rem;
}
#index .footer .f_left .shop {
  position: relative;
  width: 0.9rem;
  height: 0.8rem;
  background: url("../demo/shop.png") no-repeat center;
  background-size: 0.6rem;
  margin: 0.2rem 0.2rem;
}
#index .footer .f_left .shop span {
  display: none;
  width: 0.35rem;
  height: 0.35rem;
  border-radius: 50%;
  background: #ff9934;
  color: white;
  text-align: center;
  position: absolute;
  right: 0;
}
#index .footer .f_left .shop_info {
  position: absolute;
  top: 0;
  margin-left: 1.3rem;
  margin-top: 0.15rem;
  padding: 0.1rem 0;
}
#index .footer .f_left .shop_info p {
  font-size: 0.3rem;
  font-weight: bold;
}
#index .footer .f_left .shop_info span:nth-child(2) {
  font-size: 0.2rem;
}
#index .footer .f_right {
  position: absolute;
  top: 0;
  right: 0;
  width: 2rem;
  background: #ff9934;
  height: 1.2rem;
  text-align: center;
}
#index .footer .f_right a {
  text-align: center;
  font-size: 0.45rem;
  line-height: 1.1rem;
  color: white;
}
/*twopage*/
#checkout {
  height: 100%;
}
#checkout .header {
  z-index: 100;
  position: fixed;
  width: 100%;
  top: 0;
  height: 0.7rem;
  background: #e5e5e5;
  border-bottom: solid 1px #c8c8c8;
}
#checkout .header #black {
  height: 0.7rem;
  width: 50px;
}
#checkout .header .black {
  font-size: 0.5rem;
  position: absolute;
  margin-left: 0.2rem;
}
#checkout .header .header-content {
  width: 100%;
  position: absolute;
  top: 0;
  text-align: center;
  font-size: 0.3rem;
  line-height: 0.7rem;
  font-weight: bold;
  -webkit-user-select: none;
  color: #599c3d;
}
#checkout .main {
  margin-bottom: 1rem;
  position: relative;
  top: 0.7rem;
}
#checkout .main .user {
  overflow: hidden;
  background: white;
  padding: 0.2rem 0.25rem;
}
#checkout .main .user .sculpture {
  overflow: hidden;
  width: 0.6rem;
  height: 0.6rem;
  float: left;
  border-radius: 50%;
}
#checkout .main .user .sculpture img {
  max-width: 100%;
  height: 100%;
}
#checkout .main .user span {
  display: inline-block;
  margin: 0 0.2rem;
  height: 0.6rem;
  line-height: 0.6rem;
}
#checkout .main .user input {
  font-size: 0.2rem;
  color: #ccc;
}
#checkout .main .adds div {
  padding-left: 30px;
  margin: 0.2rem 0.3rem;
  font-weight: 500;
  background: url("../demo/adds.png") no-repeat left;
  background-size: 0.4rem;
}
#checkout .main .adds ul {
  background: white;
  padding: 0.1rem 0;
}
#checkout .main .adds ul li {
  font-size: 0.2rem;
  color: #7e7e7e;
  padding: 0.1rem 0.25rem;
}
#checkout .main .adds ul li div {
  background: url("../demo/3.png") no-repeat left;
  background-size: 0.3rem;
  padding-left: 30px;
}
#checkout .main .inventory div {
  padding-left: 30px;
  margin: 0.2rem 0.3rem;
  font-weight: 500;
  background: url("../demo/1.PNG") no-repeat left;
  background-size: 0.4rem;
}
#checkout .main .inventory ul {
  background: white;
  padding: 0.1rem 0;
}
#checkout .main .inventory ul li {
  font-size: 0.2rem;
  color: #7e7e7e;
  padding: 0.1rem 0.25rem;
}
#checkout .main .inventory ul li span {
  display: inline-block;
}
#checkout .main .inventory ul li span:nth-child(1) {
  text-align: center;
  width: 30px;
  margin: 5px 0;
}
#checkout .main .inventory ul li span:nth-child(2) {
  margin-left: 30px;
}
#checkout .main .inventory ul li span:nth-child(3) {
  float: right;
}
#checkout .main .inventory ul li span:nth-child(4) {
  margin-right: 30px;
  float: right;
}
#checkout .main .moe {
  padding: 0.2rem 0.3rem;
  font-weight: 500;
}
#checkout .main .moe p {
  font-weight: bold;
}
#checkout .main .moe p span {
  font-weight: normal;
  display: inline-block;
  float: right;
}
#checkout .main .total {
  padding: 0.2rem 0.3rem;
  font-weight: 500;
}
#checkout .main .total span {
  font-weight: bold;
}
#checkout .main .total div {
  color: #ff9934 ;
  font-weight: normal;
  float: right;
}
#checkout .main .total div span:nth-child(3) {
  font-size: 0.2rem;
}
#checkout .footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1100;
}
#checkout .footer a {
  background: #599c3d;
  margin: 0.1rem 0.1rem;
  color: white;
  text-align: center;
  display: block;
  line-height: 0.5rem;
}
