* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: #000;
}
html,
body {
  font-size: 0.25rem;
  color: #464646;
  height: 100%;
  font-family: '微软雅黑', Helvetica, Tahoma, Arial, '华文细黑', sans-serif;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.overlay {
  display: none;
  position: fixed;
  height: 100%;
  width: 100%;
  background: #000;
  opacity: .26;
  z-index: 1000;
  top: 0;
  bottom: 1.7rem;
}
#success_popup {
  display: none;
  position: absolute;
  top: 3rem;
  left: 0.2rem;
  right: 0.2rem;
  z-index: 2000;
}
#success_popup div div:nth-child(1) {
  font-size: 0.35rem;
  text-align: center;
  height: 0.7rem;
  line-height: 0.7rem;
  background: #e5e5e5;
  font-weight: 700;
}
#success_popup div div:nth-child(2) {
  background: white;
  height: 1.5rem;
  padding: 0.3rem 0.45rem;
  font-size: 0.3rem;
  color: #707070;
}
#success_popup div div:nth-child(3) {
  line-height: 0.7rem;
  height: 0.7rem;
  text-align: center;
  color: white;
  background: #599c3d;
  font-size: 0.3rem;
}
#Payment_success {
  height: 100%;
}
#Payment_success .header {
  z-index: 100;
  position: fixed;
  width: 100%;
  top: 0;
  height: 0.6rem;
  background: #e5e5e5;
  border-bottom: solid 1px #c8c8c8;
}
#Payment_success .main {
  background: white;
  height: 100%;
}
#Payment_success .main div {
  margin: 0 auto;
  padding: 2rem 0.5rem;
}
#Payment_success .main div div {
  background: url("../demo/sussce.png") no-repeat center;
  background-size: 2rem;
  height: 2.5rem;
  padding: 0;
}
#Payment_success .main div p:first-of-type {
  text-align: center;
  font-size: 0.5rem;
}
#Payment_success .main div p:last-of-type {
  margin-top: 0.5rem;
  font-size: 0.3rem;
}
#Payment_success .footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1100;
}
#Payment_success .footer a {
  background: #599c3d;
  margin: 0.1rem 0.1rem;
  color: white;
  text-align: center;
  display: block;
  height: 0.6rem;
  line-height: 0.6rem;
}
.popup-window-from-bottom {
  display: none;
  background: white;
  position: fixed;
  bottom: 0;
  z-index: 1000;
  width: 100%;
  margin-bottom: 1rem;
}
.popup-window-from-bottom .box {
  margin: 0.25rem 0.2rem 0 0.2rem;
}
.popup-window-from-bottom .box .popup-bottom-title {
  height: 0.6rem;
  padding-right: 0.1rem;
  background: #e3e3e3;
}
.popup-window-from-bottom .box .popup-bottom-title .oder {
  width: auto;
  height: 0.6rem;
}
.popup-window-from-bottom .box .popup-bottom-title .oder .popup_bottom_oder {
  padding: 0.1rem;
}
.popup-window-from-bottom .box .popup-bottom-title .oder .popup_bottom_oder .oder_img {
  display: inline-block;
  width: 0.4rem;
  height: 0.4rem;
  background: url("../demo/book.png") no-repeat center;
  background-size: 0.4rem;
  float: left;
}
.popup-window-from-bottom .box .popup-bottom-title .oder .popup_bottom_oder .oder_text {
  margin-left: 0.1rem;
  display: inline-block;
  font-size: 0.3rem;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
}
.popup-window-from-bottom .box .popup-bottom-title .del {
  float: right;
  width: 3rem;
  height: 0.6rem;
}
.popup-window-from-bottom .box .popup-bottom-title .del .popup_bottom_del {
  height: 0.4rem;
  padding: 0.1rem;
}
.popup-window-from-bottom .box .popup-bottom-title .del .popup_bottom_del .del_img {
  display: inline-block;
  background: url("../demo/del.png") no-repeat center;
  width: 0.4rem;
  height: 0.4rem;
  background-size: 0.4rem;
  float: right;
}
.popup-window-from-bottom .box .popup-bottom-title .del .popup_bottom_del .del_text {
  line-height: 0.4rem;
  display: inline-block;
  font-size: 0.2rem;
  text-align: center;
  vertical-align: middle;
  float: right;
}
.popup-window-from-bottom .box .__cart {
  margin: 0 0.2em;
}
.popup-window-from-bottom .box .__cart li {
  padding: 0.2rem 0;
  border-bottom: 1px solid #CCCCCC;
}
.popup-window-from-bottom .box .__cart li:last-child {
  border-bottom: none;
}
.popup-window-from-bottom .box .__cart .__template .__field_title {
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  width: auto;
  margin-right: 3rem;
  overflow: hidden;
  line-height: 0.5rem;
  height: 0.5rem;
  vertical-align: middle;
}
.popup-window-from-bottom .box .__cart .__template .popup_reduce {
  width: 2.5rem;
  float: right;
  height: 0.5rem;
  text-align: center;
  vertical-align: middle;
  line-height: 0.5rem;
}
.popup-window-from-bottom .box .__cart .__template .popup_reduce .__field_price {
  display: inline-block;
}
.popup-window-from-bottom .box .__cart .__template .popup_reduce .price {
  height: 0.5rem;
  text-align: left;
  line-height: 0.5rem;
  vertical-align: middle;
  width: 1.1rem;
  float: left;
}
.popup-window-from-bottom .box .__cart .__template .popup_reduce .regulator_right {
  display: inline-block;
  float: right;
  width: 1.4rem;
}
.popup-window-from-bottom .box .__cart .__template .popup_reduce .regulator_right a {
  box-sizing: border-box;
  display: block;
  border: 1px solid #ff9934;
  width: 0.5rem;
  height: 0.5rem;
  text-align: center;
  border-radius: 50%;
  line-height: 0.5rem;
  vertical-align: middle;
  overflow: hidden;
  float: left;
}
.popup-window-from-bottom .box .__cart .__template .popup_reduce .regulator_right span {
  display: block;
  width: 0.4rem;
  height: 0.5rem;
  line-height: 0.5rem;
  vertical-align: middle;
  float: left;
  overflow: hidden;
}
.popup-window-from-bottom .box .__cart .__template .popup_reduce .regulator_right a:active {
  background: #ff9934;
  color: white;
}
.select {
  display: block;
}
#index {
  background: #f0f2f5;
}
#index .header {
  position: fixed;
  top: 0;
  background: #599c3d;
  width: 100%;
  z-index: 100;
}
#index .header .left {
  width: 100%;
  float: left;
}
#index .header .left .sculpture {
  overflow: hidden;
  width: 0.8rem;
  height: 0.8rem;
  margin: 0.2rem;
  float: left;
  border-radius: 50%;
}
#index .header .left .sculpture img {
  max-width: 100%;
  height: 100%;
}
#index .header .left .chief {
  height: 1rem;
  padding: 0.1rem 0;
}
#index .header .left .chief p {
  color: #fffcfc;
  font-size: 0.3rem;
}
#index .header .left .chief p span {
  font-size: 0.4rem;
  margin: 0 0.1rem;
}
#index .header .left .chief .chief_in {
  padding: 0.1rem 0.1rem;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 45%;
  color: #dedddd;
}
#index .header .right {
  position: absolute;
  right: 0;
  top: 0;
  width: 2.5rem;
  padding: 0.2rem 0.1rem;
}
#index .header .right .audio {
  width: 0.5rem;
  height: 0.5rem;
  background: url("../demo/auid.png") no-repeat center;
  background-size: 0.3rem;
  -webkit-background-size: 0.3rem;
  float: left;
}
#index .header .right div {
  color: white;
  text-align: center;
}
#index .header .right div span {
  color: #fff100;
  font-size: 0.3rem;
  margin: 0 0.05rem;
}
#index .main {
  margin-top: 1.2rem;
  margin-bottom: 1rem;
  padding: 0.7rem 0.2rem;
}
#index .main ul li {
  margin-bottom: 0.8rem;
  border: 1px solid #CCCCCC;
}
#index .main ul li div {
  background: white;
}
#index .main ul li div img {
  max-height: 100%;
  max-width: 100%;
}
#index .main ul li .content {
  padding: 0.3rem 0;
}
#index .main ul li .first,
#index .main ul li .between {
  margin: 0 0.2rem;
}
#index .main ul li .first div,
#index .main ul li .between div {
  position: relative;
  margin-bottom: 0.2rem;
  overflow: hidden;
}
#index .main ul li .first div h1,
#index .main ul li .between div h1 {
  font-size: 0.3rem;
  font-weight: bold;
  float: left;
}
#index .main ul li .first div span,
#index .main ul li .between div span {
  display: inline-block;
  color: #ff9934;
  font-size: 0.2rem;
  position: absolute;
  bottom: 0;
  right: 0;
}
#index .main ul li .first p,
#index .main ul li .between p {
  line-height: 170%;
}
#index .main ul li .between {
  height: 1rem;
  line-height: 1rem;
  overflow: hidden;
}
#index .main ul li .between span {
  float: right;
  margin-left: 0.4rem;
  color: #a9a6a6;
}
#index .main ul li .last .regulator {
  width: 100%;
  margin-right: 2rem;
  height: 0.8rem;
}
#index .main ul li .last .regulator .groupon_icon {
  background: #313131;
  width: 0.8rem;
  height: 0.8rem;
  float: left;
}
#index .main ul li .last .regulator .groupon_icon img {
  margin: 0.05rem;
  width: 0.7rem;
  height: 0.7rem;
}
#index .main ul li .last .regulator .groupon {
  height: 0.8rem;
  width: auto;
  background: #599c3d;
  float: left;
  border-radius: 0 3.5rem 3.5rem 0;
  z-index: 101;
  padding-right: 0.1rem;
}
#index .main ul li .last .regulator .groupon span {
  display: inline-block;
  height: 0.8rem;
  line-height: 0.8rem;
  text-align: center;
  color: white;
  font-size: 0.3rem;
}
#index .main ul li .last .regulator .groupon span:nth-child(1) {
  margin-left: 0.1rem;
}
#index .main ul li .last .regulator .groupon span:nth-child(2) {
  font-size: 0.35rem;
}
#index .main ul li .last .regulator .groupon span:nth-child(3) {
  margin: 0 -0.01rem;
}
#index .main ul li .last .counter {
  height: 0.55rem;
  line-height: 0.55rem;
  vertical-align: middle;
  float: right;
  margin: 0.125rem 0.2rem;
}
#index .main ul li .last .counter span,
#index .main ul li .last .counter a {
  font-size: 0.3rem;
  float: left;
  width: 0.5rem;
  height: 0.5rem;
  text-align: center;
  line-height: 0.5rem;
}
#index .main ul li .last .counter a {
  border: 1px solid #ff9934;
}
#index .main ul li .last .counter span {
  border-top: 1px solid #ff9934;
  border-bottom: 1px solid #ff9934;
}
#index .main ul li .last .counter a:active {
  background: #ff9934;
  color: white;
}
#index .footer {
  z-index: 1500;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 1rem;
  background: white;
  border-top: 1px solid #CCCCCC;
}
#index .footer .f_left {
  background: white;
  width: auto;
  margin-right: 2rem;
  height: 1rem;
}
#index .footer .f_left .shop {
  position: relative;
  float: left;
  width: 1rem;
  height: 1rem;
  background: url("../demo/shop.png") no-repeat center;
  background-size: 0.7rem;
}
#index .footer .f_left .shop span {
  display: none;
  width: 0.4rem;
  height: 0.4rem;
  line-height: 0.4rem;
  border-radius: 50%;
  background: #ff9934;
  color: white;
  text-align: center;
  vertical-align: middle;
  position: absolute;
  top: 0.1rem;
  right: 0;
  font-size: 0.2rem;
}
#index .footer .f_left .shop_info {
  width: auto;
  margin-left: 1.2rem;
  padding: 0.15rem 0;
  height: 0.7rem;
}
#index .footer .f_left .shop_info p.line1 {
  height: 0.4rem;
  line-height: 0.4rem;
  font-size: 0.3rem;
  font-weight: bold;
}
#index .footer .f_left .shop_info p.line2 {
  height: 0.3rem;
  line-height: 0.3rem;
  font-size: 0.2rem;
}
#index .footer .f_right {
  height: 1rem;
  float: right;
  width: 2rem;
  background: #ff9934;
  text-align: center;
  font-size: 0.45rem;
  line-height: 1rem;
  color: white;
  vertical-align: middle;
}
#checkout {
  height: 100%;
}
#checkout .header {
  z-index: 100;
  position: fixed;
  width: 100%;
  top: 0;
  height: 0.8rem;
  background: #e5e5e5;
  border-bottom: solid 1px #c8c8c8;
}
#checkout .header i {
  overflow: hidden;
  display: block;
  z-index: 999;
  height: 0.8rem;
  line-height: 0.8rem;
  vertical-align: middle;
  padding: 0 0.2rem;
  float: left;
}
#checkout .header .header-content {
  width: 320px;
  text-align: center;
  font-size: 0.3rem;
  line-height: 0.8rem;
  font-weight: bold;
  -webkit-user-select: none;
  color: #599c3d;
  height: 0.8rem;
  vertical-align: middle;
}
#checkout .main {
  margin: 0.8rem 0;
}
#checkout .main .user {
  overflow: hidden;
  background: white;
  padding: 0.2rem 0.25rem;
}
#checkout .main .user .sculpture {
  overflow: hidden;
  width: 0.9rem;
  height: 0.9rem;
  float: left;
  border-radius: 50%;
}
#checkout .main .user .sculpture img {
  max-width: 100%;
  height: 100%;
}
#checkout .main .user span {
  display: inline-block;
  width: 1rem;
  float: left;
  margin: 0 0.2rem;
  height: 0.9rem;
  line-height: 0.9rem;
  font-size: .35rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#checkout .main .user .tel_border {
  float: left;
  border: 1px solid #ccc;
  height: 0.6rem;
  line-height: 0.6rem;
  margin: 0.15rem 0;
}
#checkout .main .user .tel_border input {
  font-size: 0.3rem;
  border: none;
  outline: medium;
  text-align: center;
  width: 3rem;
  color: #CCCCCC;
}
#checkout .main .address_title,
#checkout .main .shop_title {
  background: #f0f2f5;
  height: 0.6rem;
  line-height: 0.6rem;
  padding: 0.2rem 0.3rem;
  font-weight: 500;
}
#checkout .main .address_title span,
#checkout .main .shop_title span {
  display: inline-block;
}
#checkout .main .address_title_img {
  width: 0.5rem;
  height: 0.5rem;
  line-height: 0.5rem;
  background: url("../demo/adds.png") no-repeat center;
  background-size: 0.5rem;
  float: left;
}
#checkout .main .address_title_text,
#checkout .main .shop_title_text {
  height: 0.5rem;
  line-height: 0.5rem;
  font-size: 0.3rem;
  margin-left: 0.1rem;
}
#checkout .main .address_list ul {
  background: white;
  padding: 0.2rem 0.3rem;
}
#checkout .main .address_list ul li {
  color: #7e7e7e;
  margin-bottom: 0.2rem;
}
#checkout .main .address_list ul li .__checkbox__ {
  background: url("../demo/2.png") no-repeat left;
  background-size: 0.4rem;
  padding-left: 0.5rem;
}
#checkout .main .address_list ul li .__checkbox__ p {
  font-size: 0.25rem;
}
#checkout .main .address_list ul li .checked {
  background: url("../demo/3.png") no-repeat left !important;
  background-size: 0.4rem !important;
}
#checkout .main .address_list ul li:last-child {
  margin-bottom: 0;
}
#checkout .main .shop_title_img {
  width: 0.4rem;
  height: 0.4rem;
  line-height: 0.4rem;
  background: url("../demo/1.png") no-repeat center;
  background-size: 0.4rem;
  float: left;
  margin: 0.1rem 0;
}
#checkout .main .__checkout_detail {
  background: white;
  margin: 0.2rem 0.25rem;
  border-bottom: 1px solid #ccc;
  padding-bottom: 0.3rem;
}
#checkout .main .__checkout_detail .__template_checkout_detail_item {
  color: #7e7e7e;
  padding: 0.1rem 0;
}
#checkout .main .__checkout_detail .__template_checkout_detail_item span {
  display: inline-block;
}
#checkout .main .__checkout_detail .__template_checkout_detail_item .__field_checkout_title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 3rem;
}
#checkout .main .__checkout_detail .__template_checkout_detail_item .__field_checkout_quantity {
  float: right;
}
#checkout .main .__checkout_detail .__template_checkout_detail_item .__field_checkout_price {
  margin-right: 30px;
  float: right;
}
#checkout .main .moe {
  margin: 0.2rem 0.3rem;
  font-weight: 500;
  height: 0.6rem;
  border-bottom: 1px solid #ccc;
  line-height: 0.6rem;
  padding-bottom: 0.2rem;
}
#checkout .main .moe p {
  font-weight: bold;
}
#checkout .main .moe p span {
  font-weight: normal;
  display: inline-block;
  float: right;
}
#checkout .main .total {
  margin: 0.2rem 0.3rem;
  font-weight: 500;
  height: 0.6rem;
  line-height: 0.6rem;
  padding-bottom: 0.2rem;
}
#checkout .main .total span {
  font-weight: bold;
}
#checkout .main .total div {
  color: #ff9934;
  font-weight: normal;
  float: right;
}
#checkout .main .total div span:nth-child(3) {
  font-size: 0.2rem;
}
#checkout .footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1100;
}
#checkout .footer a {
  background: #599c3d;
  margin: 0.1rem 0.1rem;
  color: white;
  text-align: center;
  display: block;
  height: 0.6rem;
  line-height: 0.6rem;
}
#Order_details {
  height: 100%;
}
#Order_details .header {
  z-index: 100;
  position: fixed;
  width: 100%;
  top: 0;
  height: 0.8rem;
  background: #e5e5e5;
  border-bottom: solid 1px #c8c8c8;
}
#Order_details .header i {
  overflow: hidden;
  display: block;
  z-index: 999;
  height: 0.8rem;
  line-height: 0.8rem;
  vertical-align: middle;
  padding: 0 0.2rem;
  float: left;
}
#Order_details .header .header-content {
  width: 320px;
  text-align: center;
  font-size: 0.3rem;
  line-height: 0.8rem;
  font-weight: bold;
  -webkit-user-select: none;
  color: #599c3d;
  height: 0.8rem;
  vertical-align: middle;
}
#Order_details .main {
  margin: 0.8rem 0;
}
#Order_details .main .follow {
  position: relative;
  overflow: hidden;
  background: white;
  padding: 0.2rem;
}
#Order_details .main .follow span {
  display: inline-block;
}
#Order_details .main .follow .follow_tip {
  width: 6rem;
  height: 0.5rem;
}
#Order_details .main .follow .follow_tip .follow_left {
  float: left;
  width: 1.3rem;
  text-align: left;
}
#Order_details .main .follow .follow_tip .follow_center {
  width: 3rem;
  margin: 0 0.2rem;
  text-align: center;
}
#Order_details .main .follow .follow_tip .follow_right {
  float: right;
  width: 1.3rem;
  text-align: right;
}
#Order_details .main .follow .follow_tip .line {
  border: 1px solid #CCCCCC;
  margin: 0.2rem 0.5rem;
}
#Order_details .main .follow .follow_tip .line_tip {
  width: 5rem;
  margin: 0.2rem 0.5rem;
  position: absolute;
  top: 0.4rem;
}
#Order_details .main .follow .follow_tip .line_tip .tip_left,
#Order_details .main .follow .follow_tip .line_tip .tip_center,
#Order_details .main .follow .follow_tip .line_tip .tip_right {
  display: inline-block;
  border: 1px solid #CCCCCC;
  border-radius: 50%;
  width: 0.2rem;
  height: 0.2rem;
}
#Order_details .main .follow .follow_tip .line_tip .tip_left {
  float: left;
  background: #CCCCCC;
}
#Order_details .main .follow .follow_tip .line_tip .tip_center {
  margin: 0 2rem;
  background: #CCCCCC;
}
#Order_details .main .follow .follow_tip .line_tip .tip_right {
  float: right;
  background: white;
}
#Order_details .main .follow .follow_text {
  margin-top: 0.5rem;
}
#Order_details .main .follow .follow_text p {
  color: #7e7e7e;
  padding: 0.1rem 0;
}
#Order_details .main .follow .follow_text p .text_margin {
  margin: 0 0.15rem;
}
#Order_details .main .delivery_title,
#Order_details .main .inventory_title {
  background: #f0f2f5;
  height: 0.6rem;
  line-height: 0.6rem;
  padding: 0.2rem 0.3rem;
  font-weight: 500;
}
#Order_details .main .delivery_title span,
#Order_details .main .inventory_title span {
  display: inline-block;
}
#Order_details .main .delivery_title .delivery_title_img,
#Order_details .main .inventory_title .delivery_title_img {
  width: 0.5rem;
  height: 0.5rem;
  line-height: 0.5rem;
  background: url("../demo/pop.png") no-repeat center;
  background-size: 0.5rem;
  float: left;
}
#Order_details .main .delivery_title .inventory_title_img,
#Order_details .main .inventory_title .inventory_title_img {
  width: 0.4rem;
  height: 0.4rem;
  line-height: 0.4rem;
  background: url("../demo/1.png") no-repeat center;
  background-size: 0.4rem;
  float: left;
  margin: 0.1rem 0;
}
#Order_details .main .delivery_title .delivery_title_text,
#Order_details .main .inventory_title .delivery_title_text,
#Order_details .main .delivery_title .inventory_title_text,
#Order_details .main .inventory_title .inventory_title_text {
  height: 0.5rem;
  line-height: 0.5rem;
  font-size: 0.3rem;
  margin-left: 0.1rem;
}
#Order_details .main .delivery_list {
  padding: 0.2rem 0.3rem;
  background: white;
}
#Order_details .main .delivery_list p {
  color: #7e7e7e;
  padding: 0.1rem 0;
}
#Order_details .main .delivery_list p span {
  display: inline-block;
  margin: 0 0.15rem;
}
#Order_details .main .inventory_list {
  background: white;
  margin: 0.2rem 0.25rem;
  border-bottom: 1px solid #ccc;
  padding-bottom: 0.3rem;
}
#Order_details .main .inventory_list .inventory_list_item {
  color: #7e7e7e;
  padding: 0.1rem 0;
}
#Order_details .main .inventory_list .inventory_list_item span {
  display: inline-block;
}
#Order_details .main .inventory_list .inventory_list_item .inventory_list_title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 3rem;
}
#Order_details .main .inventory_list .inventory_list_item .inventory_list_quantity {
  float: right;
}
#Order_details .main .inventory_list .inventory_list_item .inventory_list_price {
  margin-right: 30px;
  float: right;
}
#Order_details .main .moe {
  margin: 0.2rem 0.3rem;
  font-weight: 500;
  height: 0.6rem;
  border-bottom: 1px solid #ccc;
  line-height: 0.6rem;
  padding-bottom: 0.2rem;
}
#Order_details .main .moe p {
  font-weight: bold;
}
#Order_details .main .moe p span {
  font-weight: normal;
  display: inline-block;
  float: right;
}
#Order_details .main .total {
  margin: 0.2rem 0.3rem;
  font-weight: 500;
  height: 0.6rem;
  line-height: 0.6rem;
  padding-bottom: 0.2rem;
}
#Order_details .main .total span {
  font-weight: bold;
}
#Order_details .main .total div {
  color: #ff9934;
  font-weight: normal;
  float: right;
}
#Order_details .main .total div span:nth-child(3) {
  font-size: 0.2rem;
}
#Order_details .footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1100;
}
#Order_details .footer a {
  background: #599c3d;
  margin: 0.1rem 0.1rem;
  color: white;
  text-align: center;
  display: block;
  height: 0.6rem;
  line-height: 0.6rem;
}
